.fifth-section {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__svg {
        width: 40%;
        z-index: 1;
    }

    &__form {
        background: $background-light;
        z-index: 1;
        width: 40%;
        border: 0.2rem solid darken($main-color, 10%);
        border-radius: 1rem;
        padding: 2rem;

        &__title {
            font-size: $h2;
            text-align: center;
            color: $main-color;
        }

        &__input {
            font-size: 1rem;
            box-sizing: border-box;
            font-family: 'Exo', sans-serif;
            width: 100%;
            margin: .5rem auto;
            background: darken($background-light, 5%);
            border-radius: 2rem;
            padding: .75rem 1rem;
            margin-bottom: 1rem;
        }

        &__textarea {
            font-size: 1rem;
            box-sizing: border-box;
            font-family: 'Exo', sans-serif;
            display: block;
            width: 100%;
            height: 10rem;
            margin: .5rem auto;
            background: darken($background-light, 5%);
            border-radius: 1rem;
            padding: 1rem;
        }

        &__label {
            font-size: 1rem;
        }

        &__submit {
            font-size: $text;
            font-family: 'Exo', sans-serif;
            color: $background-light;
            margin: .5rem 25%;
            box-sizing: border-box;
            width: 50%;
            background: $main-color;
            padding: .75rem 2rem;
            border-radius: 2rem;

            &:hover {
                cursor: pointer;
                background: darken($main-color, 5%);
                transition:
                    box-shadow .1s ease,
                    background .25s ease;
            }

            &:active {
                box-shadow: 0 0 0 0.2rem rgba($main-color, .5);
                transition:
                    box-shadow .1s ease,
                    background .25s ease;
            }
        }

        &__hidden {
            width: 0;
            height: 0;
        }

        &__message {
            border-radius: 1rem;
            padding: 1rem;
            color: $background-light;
            text-align: center;

            &.hidden {
                display: none;
            }

            &.error {
                background: $background-error;
            }

            background: $main-color;
        }
    }

    &__background {
        height: 100%;
        position: absolute;
        fill: $main-color;
        bottom: 0;
        width: 100%;
        z-index: 0;
    }
}

@media screen and (max-width:1023px) {
    .fifth-section {
        width: 100%;
        flex-direction: column-reverse;

        &__form {
            box-sizing: border-box;
            width: 90%;

            &__title {
                font-size: $h2-sm;
            }

            &__input {
                font-size: $text-sm;
            }

            &__textarea {
                font-size: $text-sm;
            }

            &__submit {
                font-size: $text-sm;
            }
        }

        &__svg {
            margin: 4rem 0;
            width: 90%;
        }

        &__background {
            height: 40%;
            width: 100%;
        }
    }

}