.fourth-section {
    &__header {
        padding: 2rem 0rem 2rem 0;
        color: $main-color;
        font-size: $h2;
        text-align: center;
    }

    &__card {
        width: 90%;
        margin: 0 auto 5rem;
        background: $main-color;
        border-radius: 1rem;
        border: 0.2rem solid darken($main-color, 10%);
        box-shadow: .5rem .5rem 0rem 0rem rgba($main-color, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        &__left {
            box-sizing: border-box;
            border: 0.2rem solid darken($main-color, 10%);
            width: 40%;
            margin: 5%;
            background: $background-light;
            border-radius: 1rem;
        }

        &__right {
            width: 50%;
            color: $background-light;

            &__title {
                text-align: center;
                font-size: $h3;
                padding: 1rem;
            }

            &__content {
                font-size: $text;
                margin: .5rem 0;
            }

            &__link {
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                margin: .5rem .5rem 1rem 0;
                padding: 0.5rem;
                border-radius: 50%;
                transition: background ease .25s;
                background: $main-color;

                &__svg {
                    fill: $background-light;
                    width: 100%;
                    height: 100%;
                    transition: fill ease .25s;
                }

                &:hover {
                    transition:
                        background ease .25s,
                        box-shadow .1s ease;
                    background: white;

                    .fourth-section__card__right__link__svg {
                        fill: $main-color;
                        transition: fill ease .25s;
                    }
                }

                &:active {
                    box-shadow: 0 0 0 0.2rem rgba($background-light, .5);
                    transition:
                        background ease 0.25s,
                        box-shadow .1s ease;
                }
            }
        }
    }
}

@media screen and (max-width:1023px) {
    .fourth-section {
        &__header {
            font-size: $h2-sm;
        }

        &__card {
            flex-direction: column;

            &__left {
                width: 90%;
            }

            &__right {
                width: 90%;

                &__title {
                    font-size: $h3-sm;
                }

                &__content {
                    font-size: $text-sm;
                }

            }
        }
    }

}