.code{
    &__tab{
        display: inline-block;
        width: 1.5rem;
    }
    &__variable{
        color: $vscode-variable-light;
    }
    &__function{
        color: $vscode-function-light;
    }
    &__class{
        color: $vscode-class-light;
    }
    &__name{
        color: $vscode-name-light;
    }
    &__string{
        color: $vscode-string-light;
    }
}