    .decoration {
        width: 15.625rem;
        height: 10.625rem;
        overflow: hidden;

        &__line {
            height: 23.53%;
            margin: -1.5% 0;
            background: $main-color;
            border-radius: 5rem;
            transform: rotate(20deg) translate(-10%, 120%);
        }

        &__line:nth-child(1) {
            width: 100%;
            opacity: 1;
        }

        &__line:nth-child(2) {
            width: 70%;
            opacity: .75;
        }

        &__line:nth-child(3) {
            width: 40%;
            opacity: .5;
        }
    }