::-webkit-scrollbar {
    width: 0.8vw;
    height: 0.8vw;

    &-thumb {
        background: darken($background-light, 15%);
        border-radius: 5rem;

        &:hover {
            background: darken($background-light, 30%);
        }
    }

    &-track {
        background: $background-light;
    }
}
