$main-color:#28a745;
$background-light: #fefefe;
$background-dark: #15202B;
$transparent: rgba(0, 0, 0, 0);
$background-error: #dc3545;

//font-size
$text: 1.2rem;
$h1: 2.4rem;
$h2: 2.4rem;
$h3: 1.5rem;

$text-sm: $text*83/100;
$h1-sm: $h1*83/100;
$h2-sm: $h2*83/100;
$h3-sm: $h3*83/100;

//vscode light color
$vscode-variable-light: #0000FF;
$vscode-name-light: #001080;
$vscode-string-light:#A31515;
$vscode-class-light: #267F99;
$vscode-function-light: #795E26;
$vscode-number-light: #098658;
$vscode-background-light: #fff;

//vscode dark color
$vscode-variable-dark: #569CD6;
$vscode-name-dark: #9CDCFE;
$vscode-string-dark:#CE9178;
$vscode-class-dark: #4EC9B0;
$vscode-function-dark: #DCDCAA;
$vscode-number-dark: #B5CEA8;
$vscode-background-dark: #1E1E1E;