$main-color: #17BF63;

//$main-color: darken($green-color, 5%);

$background-light: #FFF;
$background-dark: #15202B;
$transparent: rgba(0,0,0,0);

//vscode light color
$variable-light: #0000FF;
$name-light: #001080;
$string-light:#A31515;
$class-light: #267F99;
$function-light: #795E26;
$number-light: #098658;
//vscode dark color
$variable-dark: #0000FF;
$name-dark: #001080;
$string-dark:#A31515;
$class-dark: #267F99;
$function-dark: #795E26;
$number-dark: #098658;