@import "tailwindcss";

@theme {
  --default-font-family: "Lexend Deca";

  --animate-background-shine: background-shine 2s linear infinite;
  --animate-popup-open: popup 0.1s ease-out;
  --animate-popup-close: popup 0.1s reverse ease-in;

  @keyframes background-shine {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  @keyframes popup {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
