---
import "@fontsource/lexend-deca/400.css";
import "@fontsource/lexend-deca/700.css";
import "@styles/global.css";
import lexendDecaRegular from "@fontsource/lexend-deca/files/lexend-deca-latin-400-normal.woff2?url";
import lexendDecaBold from "@fontsource/lexend-deca/files/lexend-deca-latin-700-normal.woff2?url";
import { UMAMI_ENABLE, UMAMI_SCRIPT, UMAMI_WEBSITE_ID } from "astro:env/client";
import { getImage } from "astro:assets";
import { SEO } from "astro-seo";
import Background from "@components/Background.astro";
import About from "@layouts/About.astro";
import Experience from "@layouts/Experience.astro";
import Footer from "@layouts/Footer.astro";
import Hero from "@layouts/Hero.astro";
import Proyects from "@layouts/Proyects.astro";
import Skills from "@layouts/Skills.astro";
import presentationImg from "@assets/images/presentation.jpg";
import Header from "@layouts/Header.astro";

const optimizedPresentationImg = await getImage({
  src: presentationImg,
  format: "jpeg",
});
---

<!doctype html>
<html lang="es" class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={lexendDecaRegular}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={lexendDecaBold}
      crossorigin="anonymous"
    />
    <SEO
      charset="UTF-8"
      title="Juan Afanador | Desarrollador Web"
      description="Futuro ingeniero de sistemas especializado en el desarrollo de páginas y aplicaciones web, apasionado por crear soluciones innovadoras y funcionales."
      openGraph={{
        basic: {
          title: "Juan Afanador | Desarrollador Web",
          type: "website",
          image: Astro.site
            ? new URL(optimizedPresentationImg.src, Astro.site).toString()
            : optimizedPresentationImg.src,
          url: Astro.site,
        },
        image: {
          alt: "Tarjeta de Presentación de Juan Afanador",
          height: optimizedPresentationImg.attributes.height,
          width: optimizedPresentationImg.attributes.width,
        },
      }}
    />
    {
      UMAMI_ENABLE && (
        <script defer src={UMAMI_SCRIPT} data-website-id={UMAMI_WEBSITE_ID} />
      )
    }
  </head>
  <body>
    <Background />
    <Header />
    <Hero />
    <Experience />
    <Proyects />
    <Skills />
    <About />
    <Footer />
  </body>
</html>
