---
import Background from "@components/Background.astro";
import Experience from "@layouts/Experience.astro";
import Hero from "@layouts/Hero.astro";
import Proyects from "@layouts/Proyects.astro";
import Skills from "@layouts/Skills.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Juan Afanador | Desarrollador Web</title>
  </head>
  <body>
    <Background>
      <Hero />
      <Experience />
      <Proyects />
      <Skills />
    </Background>
  </body>
</html>
