---
import { SEO } from "astro-seo";
import Background from "@components/Background.astro";
import About from "@layouts/About.astro";
import Experience from "@layouts/Experience.astro";
import Footer from "@layouts/Footer.astro";
import Hero from "@layouts/Hero.astro";
import Proyects from "@layouts/Proyects.astro";
import Skills from "@layouts/Skills.astro";
import presentationImg from "@assets/images/presentation.jpg";
import { getImage } from "astro:assets";

const optimizedPresentationImg = await getImage({
  src: presentationImg,
  format: "jpeg",
});
---

<!doctype html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      charset="UTF-8"
      title="Juan Afanador | Desarrollador Web"
      description="Futuro ingeniero de sistemas especializado en el desarrollo de páginas y aplicaciones web, apasionado por crear soluciones innovadoras y funcionales."
      openGraph={{
        basic: {
          title: "Juan Afanador | Desarrollador Web",
          type: "website",
          image: new URL(optimizedPresentationImg.src, Astro.site).toString(),
          url: Astro.site,
        },
        image: {
          alt: "Tarjeta de Presentación de Juan Afanador",
          height: optimizedPresentationImg.attributes.height,
          width: optimizedPresentationImg.attributes.width,
        },
      }}
    />
  </head>
  <body>
    <Background>
      <Hero />
      <Experience />
      <Proyects />
      <Skills />
      <About />
      <Footer />
    </Background>
  </body>
</html>
