<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mensaje ha sido enviado</title>
</head>

<body style="width:100%;margin:0;background: #f8f9fa;font-family:arial;">

    <table style="box-sizing:border-box;width:90%;max-width:600px;padding:32px; margin: 16px auto; box-shadow: 0 2px 4px rgba(0,0,0,.075);background:#fff; border-radius:16px">
        <tr>
            <td style="width: 40px;">
                <img src="https://avatars1.githubusercontent.com/u/59419987" style="width: 64px; border-radius: 40px;">
            </td>
            <td style="color: #17BF63; padding: 16px; text-align: left;font-size: 20px;">
                Juan David Afanador
            </td>
        </tr>
        <tr><td colspan="2"><h1 style="text-align:left;color:#17BF63; margin: 32px 0 16px 0;font-size:40px">Hola <%= name %></h1></td></tr>
        <tr><td colspan="2"><p style="line-height: 1.5; margin: 0; font-size: 20px;">Espero que tengas un buen día, recibiste este correo porque me has enviado un
            mensaje a través de mi página web, te responderé tan pronto como sea posible</p></td></tr>
    </table>

    <table align="center">
        <tr>
            <td style="text-align: center;">
                <a style="display:inline-block;padding:10px; margin:0.5%; width:30px" href="https://github.com/juanafanador07">
                    <img width="100%" src="https://res.cloudinary.com/juanafanador07/image/upload/v1607133147/portfolio/email/github.png">
                </a>
            </td>
            <td>
                <a style="display:inline-block;padding:10px; margin:0.5%; width:30px" href="https://codepen.io/juanafanador07">
                    <img width="100%" src="https://res.cloudinary.com/juanafanador07/image/upload/v1607133147/portfolio/email/codepen.png">
                </a>
            </td>
            <td>
                <a style="display:inline-block;padding:10px; margin:0.5%; width:30px" href="https://twitter.com/juanafanador07">
                    <img width="100%" src="https://res.cloudinary.com/juanafanador07/image/upload/v1607133147/portfolio/email/twitter.png">
                </a>
            </td>
        </tr>
    </table>
</body>

</html>