<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mensaje ha sido enviado</title>
</head>

<body style="width:100%;margin:0;background: #f8f9fa;font-family:arial;">

    <div
        style="width:90%;max-width:600px;margin:1rem auto;background:white; box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);border-radius:1rem;overflow:hidden;position:relative">

        <div style="padding:2rem">
            <h1 style="color:#17BF63">Hola <%= name %></h1>
            <p style="line-height: 1.5">Espero que tengas un buen día, recibiste este correo porque me has enviado un
                mensaje a través de mi página web, te responderé tan pronto como sea posible</p>
            <p>- Juan Afanador</p>
        </div>

        <div style="background:#17BF63;margin:0;padding:0">
            <h2 style="text-align:center;color:white;padding:1rem 0 0 0;margin:0">Dato Curioso</h2>
            <p style="text-align:center;color:white;margin:0;padding:1rem">Los ojos hacen más ejercicio que las piernas
            </p>

            <div style="text-align:center">
                <a style="display:inline-block;padding:10px; margin:0.5%; width:30px" href="https://codepen.io/juanafanador07"><img width="100%"
                        src="https://res.cloudinary.com/juanafanador07/image/upload/v1605636383/icons/codepen"></a>
                <a style="display:inline-block;padding:10px; margin:0.5%; width:30px" href="https://github.com/juanafanador07"><img width="100%"
                        src="https://res.cloudinary.com/juanafanador07/image/upload/v1605636382/icons/github.png"></a>
                <a style="display:inline-block;padding:10px; margin:0.5%; width:30px" href="https://twitter.com/juanafanador07"><img width="100%"
                        src="https://res.cloudinary.com/juanafanador07/image/upload/v1605636384/icons/twitter.png"></a>
            </div>
        </div>
    </div>
</body>

</html>