---
import { Picture } from "astro:assets";
import AvailableToWorkBadge from "@components/AvailableToWorkBadge.astro";
import Heading from "@components/ui/Heading.astro";
import HighlightText from "@components/ui/HighlightText.astro";
import Button from "@components/ui/Button.astro";
import Section from "@components/ui/Section.astro";
import profileImg from "@assets/images/profile.jpeg";
---

<Section class="my-32">
  <div class="flex items-center gap-4">
    <Picture
      width="64"
      densities={[1.5, 2, 3, 4, 5]}
      src={profileImg}
      alt="Foto de perfil de Juan"
      formats={["avif", "webp"]}
      class="rounded-full size-16"
    />
    <AvailableToWorkBadge />
  </div>
  <Heading level={1} class="my-4">
    Hola, soy <HighlightText>Juan Afanador</HighlightText>
  </Heading>
  <p class="max-w-md text-xl my-4">
    <HighlightText>Estudiante de Ingeniería de Sistemas. </HighlightText>
    Me especializo en el desarrollo de aplicaciones Web.
  </p>
  <div class="flex gap-4">
    <Button
      href="mailto:juanafanador07@gmail.com"
      icon="material-symbols:mail-outline-rounded"
    >
      Contáctame
    </Button>
    <Button
      href="https://github.com/juanafanador07/"
      icon="simple-icons:github"
    >
      GitHub
    </Button>
  </div>
</Section>
