---
import Section from "@components/ui/Section.astro";
import TitleIcon from "@components/TitleIcon.astro";
import climappImg from "@assets/images/climapp.jpg";
import ProyectDetails from "@components/ProyectDetails.astro";
---

<Section id="proyects" class="my-20">
  <TitleIcon icon="material-symbols:code-rounded"> Proyectos </TitleIcon>

  <ProyectDetails
    title="Climapp"
    langs={["HTML", "CSS", "JAVASCRIPT"]}
    image={climappImg}
    imageAlt="Página principal de Climapp, con el cuadro de búsqueda."
    repositoryUrl="https://github.com/juanafanador07/climapp/"
    livePreviewUrl="https://climmap.onrender.com/"
  >
    Consulta el clima de cualquier ciudad de forma rápida y sencilla. Configura
    la temperatura en Celsius o Fahrenheit y elige entre modo claro u oscuro
    para una experiencia personalizada.
  </ProyectDetails>
</Section>
