---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<section
  class:list={[className, "max-w-screen-lg mx-auto w-10/12 scroll-m-20"]}
  id={id}
>
  <slot />
</section>
